.Logo {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  img {
    background: white;
    padding: 8px;
    border-radius: 5px;
    width: 20%;
  }
}
@media (max-width: 500px) {
  .Logo {
    width: 100%;
    img {
      width: 50%;
    }
  }
}
